
<script type="text/javascript">
    function blingJenkinsBuildQueue<%= index %>() {
    	var jenkinsQueueURL = 'proxy_json?server_id=' + encodeURI('<%= config[:server_id] %>') + '&json_path=queue/api/json';
    	$.getJSON(jenkinsQueueURL, function(json) {
    	    if (json.items.length > 0) {
                if ($('#jenkins-queue-container-<%= index %>').length > 0) {
                    $('#jenkins-queue-container-<%= index %> ul li').remove();
                } else {
                    var html = '<div id="jenkins-queue-container-<%= index %>" class="jenkins-queue-container"><ul></ul></div>';
                    $('#main').before(html);
                }
    	        for (var i = 0; i < json.items.length; ++i) {
    		        var item = json.items[i];
    		        var task = item.task;

    		        var html = '<li><a href="' + task.url + '">' + task.name + '</a></li>';
                    $('#jenkins-queue-container-<%= index %> ul').append(html);
    	        }

    	        $('#jenkins-queue-container-<%= index %>').show(2000);
            } else {
                $('#jenkins-queue-container-<%= index %>').hide(2000).remove();
            }                 
		});
	}

    $(document).ready(function() {
    	blingJenkinsBuildQueue<%= index %>();
    });
</script>