<div class="coverage-parent-container">
    <span><%= config[:title] %></span>
    <div>
        <canvas id="cobertura-stats-line-rate-<%= index %>" class="coverage-canvas"></canvas>
        <canvas id="cobertura-stats-branch-rate-<%= index %>" class="coverage-canvas"></canvas>
    </div>
</div>

<script type="text/javascript">

    function crFormatPercentage<%= index %>(percentage) {
        var pct = (percentage * 100) + "";

        var dotIndex = pct.indexOf('.');
        if (dotIndex > -1) {
            pct = pct.substring(0, dotIndex + 2);
        }

        return pct;
    }

    function crShowCoverageChart<%= index %>(renderToId, label, percentage) {
        var color;
        if (percentage < 0.5) {
            color = 'red';
        } else if (percentage < 0.9) {
            color = 'orange';
        } else {
            color = 'green';
        }

        // Set the canvas corrds to be the same as the css dimensions
        $(renderToId).attr('width', $(renderToId).css('width'));
        $(renderToId).attr('height', $(renderToId).css('height'));

        var canvas = $(renderToId).get(0);
        var context = canvas.getContext('2d');
        var centerX = canvas.width / 2;
        var centerY = canvas.height / 2;
        var lineWidth = 15;
        var radius = (canvas.width - lineWidth)/ 2;
        var startAngle = 0;
        var endAngle = percentage * 2 * Math.PI;
        var counterClockwise = false;

        context.beginPath();
        context.arc(centerX, centerY, radius, startAngle, endAngle, counterClockwise);
        context.lineWidth = lineWidth;
        context.strokeStyle = color;
        context.stroke();

        context.font = $(renderToId).css('font');
        context.textAlign = 'center';
        context.fillStyle = $(renderToId).css('color');
        context.fillText(label, centerX, centerY);
        context.fillText(crFormatPercentage<%= index %>(percentage) + '%', centerX, centerY + 16);
    }

    function crShowCoberturaStats<%= index %>() {
    	jQuery.support.cors = true;
    	$.ajax({
		    type: 'GET',
		    url: 'proxy_xml?server_id=' + encodeURI('<%= config[:server_id] %>') + '&xml_path=' + encodeURI('<%= config[:xml_path] %>'),
		    dataType: 'xml',
		    success: function(xml) {
		    	        $(xml).find('coverage').each(function() {
		    	        	var lineRate   = $(this).attr('line-rate');
                            var branchRate = $(this).attr('branch-rate');
		    	        	crShowCoverageChart<%= index %>('#cobertura-stats-line-rate-<%= index %>', 'Line', lineRate);
                            crShowCoverageChart<%= index %>('#cobertura-stats-branch-rate-<%= index %>', 'Branch', branchRate);
            		    });
		    	    }
        });

    	setTimeout('crShowCoberturaStats<%= index %>()', 15 * 60 * 1000); // Update every 15 minutes
    }

    $(document).ready(function() { 
    	crShowCoberturaStats<%= index %>();
    });
</script>