<div id="codenarc-stats-<%= index %>" class="codenarc">
</div>

<script type="text/javascript">

    function crShowCodenarcStats<%= index %>() {
    	$.ajax({
		    type: 'GET',
		    url: 'proxy_xml?server_id=' + encodeURI('<%= config[:server_id] %>') + '&xml_path=' + encodeURI('<%= config[:xml_path] %>'),
		    dataType: 'xml',
		    success: function(xml) {
		    	        $(xml).find('PackageSummary').each(function() {
		    	        	var prio1 = $(this).attr('priority1');
		    	        	var prio2 = $(this).attr('priority2');
		    	        	var prio3 = $(this).attr('priority3');

		    	        	var html = '<span><%= config[:title] %></span>';
		    	        	html += '<table>';
		    	        	html += '<tr><th>P1</th><td>' + prio1 + '</td></tr>';
		    	        	html += '<tr><th>P2</th><td>' + prio2 + '</td></tr>';
		    	        	html += '<tr><th>P3</th><td>' + prio3 + '</td></tr>';
		    	        	html += '</table>';

		    	        	$('#codenarc-stats-<%= index %>').html(html);
		    	        });
		    	    }
        });

    	setTimeout('crShowCodenarcStats<%= index %>()', 15 * 60 * 1000); // Update every 15 minutes
    }

    $(document).ready(function() {
    	crShowCodenarcStats<%= index %>();
    });
</script>