<%- if DashboardConfig.chuck_norris_kick_ass -%>
<a href="http://www.codesqueeze.com/the-ultimate-top-25-chuck-norris-the-programmer-jokes/" target="_blank">
  <div class="chuck-norris-fact <%= @status %>">
    <h2>Chuck Norris <%= @chuck_norris_fact %></h2>
  </div>
</a>
<%- end -%>

<%- @projects.each do |project| -%>
  <%- title = "[#{project.group_name}] #{project.name} - Status: #{project.lastBuildStatus} - Activity: #{project.activity} - Last Build: #{project.lastBuildTime}" -%>
  <a href="<%= project.webUrl %>" target="_blank" title="<%= title %>" alt="<%= title %>">
    <div class="project <%= project.lastBuildStatus %> <%= project.activity %>">
        <h2><%= project.name %></h2>
        <p>Last label: <%= project.lastBuildLabel %></p>
        <p>Last build: <%= time_ago(project.lastBuildTime) %></p>
    </div>
  </a>

<%- end -%>