
<%= render 'alarm_clock' %>
<%= render 'bling' %>

<%- @projects.each_with_index do |project, index| -%>
  <%-
      title = "[#{project.group_name}] #{project.name} - Status: #{project.lastBuildStatus} - Activity: #{project.activity} - Last Build: #{project.lastBuildTime}"
      id = "project-#{index}"
  -%>
  <a href="<%= project.webUrl %>" target="_blank" title="<%= title %>" alt="<%= title %>">
    <div id="<%= id %>" class="project <%= project.lastBuildStatus %> <%= project.activity %>">
        <h2><%= project.name %></h2>
        <p>Last label: <%= project.lastBuildLabel %></p>
        <p>Last build: <%= time_ago(project.lastBuildTime) rescue project.lastBuildTime %></p>
        <div class="culprits"></div>
    </div>
  </a>

<script type="text/javascript">
    var failedProjects = []
  <%-
  if project.lastBuildStatus == 'Failure'
    failedProjectUrl = "#{project.webUrl}/#{project.lastBuildLabel}"
  -%>
  failedProjects.push({'url': '<%= failedProjectUrl %>', 'id': '<%= id %>'});
  <%-
  end
  -%>

    $(document).ready(function() {
        for (var i = 0; i < failedProjects.length; ++i) {
            var failedUrl = failedProjects[i]['url'] + '/api/json?jsonp=?';
            var failedId = failedProjects[i]['id'];

            $.getJSON(failedUrl, function(json) {
                if (json.culprits.length > 0) {
                    var culprits = json.culprits;
                    var culpritNames = [];
                    for (var j = 0; j < culprits.length; ++j) {
                        if (culprits[j].fullName) {
                            culpritNames.push(culprits[j].fullName);
                        }
                    }

                    if (culpritNames.length > 0) {
                      console.log(culpritNames.join());
                        var culpritsElem = $('#' + failedId + ' .culprits');
                        culpritsElem.html(culpritNames.join());
                    }
                }
            });
        }
    });
</script>
<%- end -%>

<div id="audio"></div>
<%= render 'tracks' %>

<script type="text/javascript">
  // Dynamically set the title
  <%-
    title = ''
    title += "F(#{@status_failure}) " if @status_failure > 0
    title += "E(#{@status_exception}) " if @status_exception > 0
    title += "B(#{@activity_building}) " if @activity_building > 0

    title += 'cc_dashboard'
  -%>
  document.title = "<%= title %>";

  // Dynamically set the theme stylesheet
  $('link[title="theme-css"]').prop('disabled', true);
  $('link[title="theme-css"]').remove();

  var themeCssHref = '<%= stylesheet_path("stylesheets/skins/#{@skin}.css") %>';
  $("head").append("<link>");
  var themeCssLink = $("head").children(":last");
  themeCssLink.attr({
    title: "theme-css",
    rel:  "stylesheet",
    type: "text/css",
    media: "screen",
    href: themeCssHref
  });

  // Dynamically set the class attribute of "body"
  $("body").attr("class", "<%= @status %>");

  // Slowly change the background image
  var backgroundImagePath = '<%= skin_random_image_path('background', @status) %>';
  $("#background-image").fadeOut(2000, function() {
    $(this).css('background-image', 'url(' + backgroundImagePath + ')');
  }).fadeIn(2000);

  // Dynamically set the favicon
  var faviconHref = '<%= image_path("skins/#{@skin}/favicon_#{@icon}") %>';
  $("#favicon1").attr("href", faviconHref);
  $("#favicon2").attr("href", faviconHref);
</script>
