
<%= render 'alarm_clock' %>
<%= render 'bling' %>

<script type="text/javascript">
    var failedProjects = []
</script>

<%- @projects.each_with_index do |project, index| -%>
  <%-
      title = "[#{project.group_name}] #{project.name} - Status: #{project.lastBuildStatus} - Activity: #{project.activity} - Last Build: #{project.lastBuildTime}"
      id = "project-#{index}"
  -%>
  <a href="<%= project.webUrl %>" target="_blank" title="<%= title %>" alt="<%= title %>">
    <div id="<%= id %>" class="project <%= project.lastBuildStatus %> <%= project.activity %>">
        <p class="project-name"><%= project.name %></p>
        <p>Last label: <%= project.lastBuildLabel %></p>
        <p>Last build: <%= time_ago(project.lastBuildTime) rescue project.lastBuildTime %></p>
        <div class="culprits"><%= project.culprits if project.culprits %></div>
    </div>
  </a>

<script type="text/javascript">
  <%-
  if project.lastBuildStatus == 'Failure'
    failedProjectFullUrl = "#{project.webUrl}/#{project.lastBuildLabel}"
    failedProjectParsedUrl = URI.parse(failedProjectFullUrl)
  -%>
  failedProjects.push({'url': '<%= failedProjectParsedUrl.path %>', 'server_id': '<%= project.server[:id] %>', 'server_type': '<%= project.server[:type] %>', 'id': '<%= id %>'});
  <%-
  end
  -%>
</script>
<%- end -%>

<script type="text/javascript">
    function failedProjectCallback(projectId) {
        return function(json) {
            if (json.culprits.length > 0) {
                var culprits = json.culprits;
                var culpritNames = [];
                for (var j = 0; j < culprits.length; ++j) {
                    if (culprits[j].fullName) {
                        culpritNames.push(culprits[j].fullName);
                    }
                }

                if (culpritNames.length > 0) {
                    var culpritsElem = $('#' + projectId + ' .culprits');
                    culpritsElem.html(culpritNames.join());
                }
            }
        };
    }

    $(document).ready(function() {
        for (var i = 0; i < failedProjects.length; ++i) {
            if (failedProjects[i]['server_type'] == 'jenkins') {
                var failedUrl = failedProjects[i]['url'] + '/api/json';
                var failedId = failedProjects[i]['id'];

                var proxyUrl = 'proxy_json?server_id=' + failedProjects[i]['server_id'] + '&json_path=' + encodeURI(failedUrl);

                $.getJSON(proxyUrl, failedProjectCallback(failedId));
            }
        }
    });
</script>

<div id="audio"></div>
<%= render 'tracks' %>

<script type="text/javascript">
  // Dynamically set the title
  <%-
    title = ''
    title += "F(#{@status_failure}) " if @status_failure > 0
    title += "E(#{@status_exception}) " if @status_exception > 0
    title += "B(#{@activity_building}) " if @activity_building > 0

    title += 'cc_dashboard'
  -%>
  document.title = "<%= title %>";

  // Dynamically set the theme stylesheet
  $('link[title="theme-css"]').prop('disabled', true);
  $('link[title="theme-css"]').remove();

  var themeCssHref = '<%= stylesheet_path("stylesheets/skins/#{@skin}.css") %>';
  $("head").append("<link>");
  var themeCssLink = $("head").children(":last");
  themeCssLink.attr({
    title: "theme-css",
    rel:  "stylesheet",
    type: "text/css",
    media: "screen",
    href: themeCssHref
  });

  // Dynamically set the class attribute of "body"
  $("body").attr("class", "<%= @status %>");

  // Slowly change the background image
  var backgroundImagePath = '<%= skin_random_image_path('background', @status) %>';
  $("#background-image").fadeOut(2000, function() {
    $(this).css('background-image', 'url(' + backgroundImagePath + ')');
  }).fadeIn(2000);

  // Dynamically set the favicon
  var faviconHref = '<%= image_path("skins/#{@skin}/favicon_#{@icon}") %>';
  $("#favicon1").attr("href", faviconHref);
  $("#favicon2").attr("href", faviconHref);

  //$(".project-name").quickfit({ min: 8, max: 20, truncate: true});
  $(".project-name").textfill({ minFontPixels: 10, maxFontPixels: 20, widthOnly: true});
</script>
