<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="expires" content="0" />
    <meta http-equiv="refresh" content="<%= @refresh %>" />

    <%= stylesheet_link_tag "stylesheets/site.css" %>
    <%= stylesheet_link_tag "stylesheets/skins/#{@skin}.css" %>

    <%= skinned_icon_tag(@icon) %>

    <%-
      title = ''
      title += "F(#{@status_failure}) " if @status_failure > 0
      title += "E(#{@status_exception}) " if @status_exception > 0
      title += "B(#{@activity_building}) " if @activity_building > 0

      title += 'cc_dashboard'
    -%>
    <title><%= title %></title>

    <%= javascript_include_tag "jquery" %>
    <%- if File.exists?("#{Rails.root}/app/assets/javascripts/skins/#{@skin}.js") -%> 
      <%= javascript_include_tag "skins/#{@skin}.js" %>
    <%- end -%>
  </head>
  <body class="<%= @status %>">

    <%= yield %>

    <%= render 'tracks' %>
  </body>
  
</html>
