<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="expires" content="0" />

    <link id="favicon1" rel="SHORTCUT_ICON" href="favicon.ico" />
    <link id="favicon2" rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />

    <%= stylesheet_link_tag "stylesheets/site.css" %>

    <title>cc_dashboard</title>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "speakClient" %>
    <%= javascript_include_tag "consolelog" %>
  </head>
  <body>
    <span id="background-image"></span>
    <div id="error-msg"></div>

    <div id="main">
      <%= yield %>
    </div>

    <div id="widgets">
      <%= render 'widgets' %>
    </div>

    <script type="text/javascript">
    // Make page reloading a bit more tolerant of intermittent network failures
    function safeReloadPage() {
      var now = new Date();
      $("#main").load("main?" + now.getTime(), function(response, status, jqXHR) {
        if (status == "error") {
          $("#error-msg").html("<span>Failed to load " + window.location + " at " + now.toLocaleDateString() + " " + now.toLocaleTimeString() + "</span>");
          $("#error-msg").show();
        } else {
          $("#error-msg").hide();
        }

        setTimeout("safeReloadPage()", <%= @refresh %> * 1000);
      });
    }

    $(document).ready(function() {
        $.ajaxSetup({ cache: false });
        safeReloadPage();
    });
    </script>
  </body>
  
</html>
